:root {
    --font-family: sans-serif;
    --text-color: #222222;
    --dimmed-text-color: #333;
    --background-color: #fff;
    --link-color: rgb(59, 130, 246);
    --link-hover-color: #0056b3;
    --border-color: #ccc;
}

[data-theme="dark"] {
    --text-color: #ddd;
    --dimmed-text-color: #aaa;
    --background-color: #1e1b2a;
    --link-color: #65a0ff;
    --border-color: #444;
}
