:root {
    --font-family: "Fira Code", "JetBrains Mono", "Berkeley Mono", "Operator Mono", "Dank Mono", "Consolas", "Courier New", "DejaVu Sans Mono", "Liberation Mono", monospace;
    --text-color: #111111;
    --dimmed-text-color: #777;
    --background-color: #fff;
    --link-color: rgb(59, 130, 246);
    --link-hover-color: #0056b3;
    --border-color: #ccc;
    --font-weight: 400;
}

[data-theme="dark"] {
    --text-color: #ddd;
    --dimmed-text-color: #aaa;
    --background-color: #1e1b2a;
    --link-color: #65a0ff;
    --border-color: #444;
    --font-weight: 200;
}
