<% meta() %>

<%= render("./_partials/header.html", { title, description, url }) %>

    <color-band class="w-full mt-4 mb-6" style="height: 80px;"></color-band>

    <h4 class="mb-6">Musings <a href="/rss.xml" class="text-sm"><svg style="width: 18px; color: var(--link-color);" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-rss-icon lucide-rss"><path d="M4 11a9 9 0 0 1 9 9"/><path d="M4 4a16 16 0 0 1 16 16"/><circle cx="5" cy="19" r="1"/></svg></a></h4>
    <%
        const posts = metas("./posts").filter((p) => p.meta.published);
        posts.sort((a, b) => b.meta.date.localeCompare(a.meta.date));

        const channel = {
            title: "{ Mario Zechner }",
            description: "Musings from an old computer guy.",
            url: "https://mariozechner.at"
        }
        const items = posts.map((p) => {
            return {
                title: p.meta.title,
                description: p.meta.description,
                pubdate: p.meta.date,
                url: channel.url + `/posts/${p.directory}`
            }
        })
        rss("./rss.xml", channel, items);
    %>
    <div class="post-list flex flex-col gap-4">
        <% for (const post of posts) { %>
            <a href="/posts/<%=post.directory%>/" class="flex gap-4 items-center">
                <div class="flex row gap-4 items-baseline">
                    <span class="text-sm text-muted italic whitespace-nowrap"><%=post.meta.date%></span>
                    <span><%=post.meta.title%></span>
                </div>
            </a>
        <% } %>
    </div>

    <h4 class="mt-8 mb-6">Who I am</h4>
    <p>
        I'm an independent software developer, coach, and angel investor with over 15 years of experience in academia
        <q-l href="https://scholar.google.at/citations?user=6hFnJ00AAAAJ&hl=en"></q-l>, startups
        <q-l
            href="https://www.businesswire.com/news/home/20151021005382/en/Xamarin-Acquires-RoboVM-Now-the-Only-Cross-Platform-Mobile-Development-Company-for-the-Top-Two-Enterprise-Languages"
        ></q-l
        >, industry, and open-source software <q-l href="https://github.com/badlogic"></q-l>.
    </p>
    <p>My primary technical expertise lies in applied machine learning, data science, compiler engineering, and computer graphics.</p>
    <p>
        I've led interdisciplinary, international teams and projects, devised and supervised the implementation of product roadmaps and
        business plans, acquired customers, and secured funding.
    </p>
    <p>
        I've authored books <q-l href="https://link.springer.com/book/10.1007/978-1-4302-3043-4"></q-l> and academic papers
        <q-l href="https://scholar.google.com/citations?user=6hFnJ00AAAAJ&hl=en&oi=ao"></q-l>, been a speaker on the technical conference
        circuit <q-l href="https://vimeo.com/181931320"></q-l><q-l href="https://gamedevdays.com/speaker/mario-zechner/"></q-l>, won
        awards <q-l href="https://web.archive.org/web/20160312004045/https://www.oracle.com/javaone/rock-star-wall-of-fame.html"></q-l
        ><q-l
            href="https://web.archive.org/web/20210921141558/https://www.constantinus.net/de/wall-of-fame/archiv/wall-of-fame-archiv.html?Ergebnisse=50&blatt=13"
        ></q-l
        ><q-l href="https://blogs.oracle.com/java/post/2014-dukes-choice-award-winners"></q-l>, taught at school and university, mentored
        young entrepreneurs, and invested in early-stage startups.
    </p>
    <p>
        The birth of my son was a pivotal moment, inspiring me to contribute to the community
        <q-l href="https://cards-for-ukraine.at"></q-l> and leverage my skills to highlight societal issues
        <q-l href="https://www.wired.com/story/heisse-preise-food-prices/"></q-l><q-l href="https://heisse-preise.io/media.html"></q-l>.
    </p>

    <h4 class="mt-8 mb-6">In the media</h4>
    <ul class="mb-6 media-links">
        <li><a href="https://www.wired.com/story/heisse-preise-food-prices/">This Website Exposes the Truth About Soaring Food Prices</a> (Wired)</li>
        <li><a href="https://www.derstandard.at/story/3000000176002">Programmierer überholen Regierung mit Lebensmittel-Vergleichsportalen</a> (Der Standard)</li>
        <li><a href="https://www.heise.de/news/Oesterreichische-Arbeitsagentur-veroeffentlicht-fragwuerdigen-KI-Chatbot-9588098.html">Österreichische Arbeitsagentur veröffentlicht fragwürdigen KI-Chatbot</a> (Heise)</li>
        <li><a href="https://www.derstandard.at/story/3000000203652">Blamage um Chatbot des AMS wirft weitere Fragen auf</a> (Der Standard)</li>
        <li><a href="https://www.derstandard.at/story/3000000201774">Vorurteile und zweifelhafte Umsetzung: AMS-KI-Chatbot trifft auf Spott und Hohn</a> (Der Standard)</li>
        <li><a href="https://www.derstandard.at/story/3000000213754">"Rapid is die gonz Leitkultur": Chatbot hilft bei der Suche nach der nationalen Identität</a> (Der Standard)</li>
        <li><a href="https://www.diepresse.com/18716824/eva-glawischnig-ist-haeufigster-gast-in-polit-talkshows">Eva Glawischnig ist häufigster Gast in Polit-Talkshows</a> (Die Presse)</li>
        <li><a href="https://tag-eins-magazin.ghost.io/bildung-gerechtigkeit-volksschule-ahs-dominik-ritter-wurnig/">Ob du Matura machst, entscheidet sich in der Volksschule</a> (TagEins)</li>
    </ul>

    <h4 class="mt-8 mb-6">What I offer</h4>
    <ul class="mb-6">
        <li>Pro-bono mentoring of young entrepreneurs on technical and business aspects</li>
        <li>Technical workshops <q-l href="https://github.com/badlogic/genai-workshop/tree/main"></q-l></li>
        <li>Independent consulting on compelling projects</li>
    </ul>
    <div>Pricing is tailored to meet individual or organizational needs.</div>

    <h4 class="mt-8 mb-6">Get in touch</h4>
    <div class="flex flex-col">
        <div class="flex gap-2 mb-3">
            <a href="https://bsky.app/profile/mariozechner.at"><i class="icon w-8 h-8" style="color: var(--link-color);"><%=render("./_icons/bluesky-line.svg")%></i></a>
            <a href="https://mastodon.gamedev.place/@badlogic"><i class="icon w-8 h-8" style="color: var(--link-color);"><%=render("./_icons/mastodon-line.svg")%></i></a>
            <a href="https://twitter.com/badlogicgames"><i class="icon w-8 h-8" style="color: var(--link-color);"><%=render("./_icons/twitter-line.svg")%></i></a>
            <a href="https://github.com/badlogic"><i class="icon w-8 h-8" style="color: var(--link-color);"><%=render("./_icons/github-line.svg")%></i></a>
        </div>
        <a href="mailto:contact@mariozechner.at">contact@mariozechner.at</a>
        <span>Glacisstraße 63</span>
        <span>8010 Graz</span>
        <span>Austria</span>
    </div>

    <%= render("./_partials/footer.html") %>